body {
      
}


div.container{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

/*NAVBAR*/

div#navRow.row{
    margin-left:0px;
    margin-right:0px;
}

nav#navvy.navbar.navbar-static-top{
    margin-top: 0px;
    margin-bottom: 0px;
    color:#FFF6F0;
    background-color: #6A1525;
}
#navvy a{
    color: #FFF6F0;
}
#navvy a:hover{
    background:none;
}


/*Button*/
button.navbar-toggle {
    border: 1px solid #FFF6F0;
}
span.icon-bar {
    border:1px solid #FFF6F0;
}


/*Jumbotron*/

div.jumbotron.guesthouse {
    background-image: url('guest house and villa and pool.jpg');
    height:372px;   
    background-size: cover;
    color: white;
    text-align: center;   
    margin-bottom: 0px;

    
}

div#heightCorrect.col-md-3 {
    background-image: url('roadmap of tuscany.jpg');
    background-size:cover;
    height:372px;
    width:334px;

}

.pad {
    padding-left:0px;
    padding-right:0px;
}

/*petes formatting*/

div#mainseccol1.col-md-9{
    padding-left:0px;
    padding-right:0px;
}
div.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
div.mainsec.row{
    width:1349px;
}

/*Bottom header*/

#row2{
    text-align:center;
    background-color:dimgrey;
    color:white;
} 
/*location one*/

#row3 {
    margin-left: 100px;
    margin-top: 30px;
    margin-right:30px;
}


#snowyMountain {
    height:215px;
    width:330px;
    margin-left: 0px;               /*make this a class too*/
    margin-bottom: 20px;

}



.tinyLocations{
    font-size:10px;
   
}

/*Location 2*/

#row4{
    background-color:dimgrey;
    color:white;
}

img#modHouse{
    height:175px;
    width:300px;
    margin-left: 100px;                /*make this a class too*/
    margin-bottom: 20px;
}



/*Location 3*/

#row5 {
    margin-left: 100px;
    margin-top: 30px;
    margin-right:30px;
}

#vineyard {
    height: 215px;
    width: 330px;
    margin-left: 0px;     /*make this a class too*/
    margin-bottom: 20px;
}

/*Ammenities Header*/

#row6{
    text-align:center;
    background-color:dimgrey;     /*Maybe I should turn all of these bars into a class that goes throughout instead of separate id's'*/
    color:white;
}

#patioPool {
    background-image: url('patio pool.jpg');
    background-size:cover;     
 
}

#cloudyPool {
    background-image: url('cloudy daytime patio pool.jpg');
    background-size:cover;
}
/*Ammenities*/

/*div#row7.row{
    height:800px
}*/

div#patioPool.jumbotron{
    height:348px;
    width:348px;
}

div#cloudyPool.jumbotron {
    height: 348px;
    width: 348px;
}


/*Reviews Carousel Header*/

#row10{
    text-align:center;
    background-color:dimgrey;   /*Maybe I should turn all of these bars into a class that goes throughout instead of separate id's'*/
    color:white;
}

    /*The Carousel itself*/

.carousel-indicators li {
    background-color:black;
}

.carousel-indicators .active{
    background-color:black;
}
   
ol.carousel-indicators{
    height:50px;
    width:50px;
    margin-left:0px;
    margin-bottom:0px;
    bottom:0px;
    /*background-color:black;*/
}

div#myCarousel.carousel.slide{
    background-color:white;
    height:150px;
}

.carousel{
    background-color:white;
}

/*Contact form Header*/

#row12{
    text-align:center;
    background-color:dimgrey;   /*Maybe I should turn all of these bars into a class that goes throughout instead of separate id's'*/
    color:white;
}

/*Contact form Main*/

input#comment.form-control{
    padding-bottom:100px;
    padding-right:215px;

}

button.btn.btn-xs{
   margin-left:320px;
}

/*Footer*/

footer {
    text-align:center;
    background-color:dimgrey;   /*Maybe I should turn all of these bars into a class that goes throughout instead of separate id's'*/
    color:white;
}

p,h1,h3{
    font-family:'Saira Extra Condensed', sans-serif;
}